@media screen and (min-width: 768px) {
  .home_layout {
    padding-bottom: 40px;
  }
  .body_container {
    padding-top: 50px;
  }
  .main_content {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  .main_content h1 {
    font-size: 36px;
    line-height: 1.5;
  }
  .main_content p {
    font-size: 16px;
    line-height: 2;
    margin: 30px auto;
  }
  .img_layout img {
    max-width: 80%;
    margin: 0 auto;
  }
  .css_span_sponsored {
    max-width: 470px;
    margin: 30px auto;
  }
  .css_button_email_send {
    min-height: 50px;
    padding: 10px 30px;
  }
  .form_email {
    max-width: 470px;
    margin: 30px auto;
  }
}

@media screen and (min-width: 1024px) {
  .navbar_layout {
    display: flex;
  }
  .home_layout {
    padding-bottom: 80px;
  }
  .body_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 38vh;
    padding-top: 0;
  }
  .main_content {
    margin: 0;
    max-width: none;
    text-align: left;
  }
  .main_content h1 {
    font-size: 45px;
    line-height: 1.2;
    -webkit-letter-spacing: -1.5px;
    -moz-letter-spacing: -1.5px;
    -ms-letter-spacing: -1.5px;
    letter-spacing: -1.5px;
  }
  .main_content p {
    font-size: 18px;
    margin: 0;
    margin-top: 26px;
  }
  .button_header_login {
    position: static;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .header_layout {
    max-width: 970px;
  }
  .icon_header {
    margin-right: 30px;
  }
  .navbar .nav-item {
    margin: 0 15px;
  }
  .icon_sponsored figure {
    margin-left: 20px;
  }
  .icon_sponsored figure img {
    max-width: 80px;
  }
  .img_layout {
    margin-top: 0;
  }
  .img_layout img {
    max-width: 741.1px;
    height: 490.8px;
    flex-shrink: 0;
    /* max-width: 100%; */
    margin: 0;
  }
  .figure_css_layout figure {
    margin-left: 20px;
  }
  .figure_css_layout figure img {
    max-width: 80px;
  }
  .css_span_sponsored {
    max-width: 490px;
    max-height: 42px;
    margin: 35px 0 0;
  }
  .css_span_sponsored span {
    color: #566272;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px; /* 262.5% */
  }
  .css_button_email_send {
    min-height: 50px;
  }
  .form_email {
    max-width: 533.03px;
    margin: 34px 0 0;
  }
  .form_email input {
    font-size: 16px;
  }
  .form_email button {
    color: #fff;
    text-align: center;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 222.222% */
  }
}

@media screen and (min-width: 1200px) {
  .home_layout {
    padding-top: 0;
    padding-bottom: 0;
  }
  .body_container {
    grid-template-columns: 0.95fr 1.05fr;
    min-height: 100vh;
    padding-top: 60px;
  }
  .main_content h1 {
    line-height: 1.26;
  }
  .main_content p {
    font-weight: 400;
    line-height: 42px;
  }
  .header_layout {
    max-width: 1140px;
  }
  .icon_header {
    margin-right: 100px;
  }
  .icon_sponsored figure {
    margin-left: 25px;
  }
  .icon_sponsored figure img {
    max-width: 100%;
  }
  .figure_css_layout figure {
    margin-left: 25px;
  }
  .figure_css_layout figure img {
    max-width: 100%;
  }
  .css_button_email_send {
    width: 163px;
    min-height: 60px;
  }
  .form_email input {
    min-height: 60px;
  }
  .form_email button {
    min-height: 60px;
  }
}

@media only screen and (min-width: 1900px) {
  .body_container {
    padding-top: 70px;
  }
}

@media screen and (min-width: 1367px) {
  .main_content h1 {
    font-size: 48px;
  }
  .header_layout {
    max-width: 1300px;
  }
}

@media screen and (min-width: 1440px) {
  .main_content h1 {
    font-size: 64px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
  .main_content h1 {
    color: #02073e;
    font-family: DM Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 125% */
    letter-spacing: -3px;
  }
}

@media screen and (min-width: 640px) {
  .icon_header svg {
    width: 100%;
  }
  .css_button_email_send {
    min-height: 50px;
    padding: 0 25px;
  }
}

@media screen and (min-width: 480px) {
  .css_button_email_send {
    min-height: 50px;
    padding: 0 25px;
  }
  .form_email input {
    min-height: 50px;
  }
  .form_email button {
    font-size: 14px;
    min-height: 50px;
  }
}
