@import "./reponsive.css";
* {
  background-color: #fffcf7;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: DM Sans, sans-serif;
  line-height: 1.5;
  font-weight: normal;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  padding-top: 23px;
  /* padding-bottom: 20px; */
}
.header_layout {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.text_h1 {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  font-family: DM Sans, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  font-family: DM Sans, sans-serif;
  line-height: 1.25;
  font-weight: 500;
}
/* NAVBAR LAYOUT */
.navbar_layout {
  margin-right: 330.16px !important;
  height: 33px;
  max-width: 502px;
  align-items: center;
}

.navbar_layout li {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.navbar_layout li a {
  transition: all 0.3s ease-in-out 0s;
}
/* END NAVBAR LAYOUT */
/* HOME LAYOUT */
.home_layout {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  background-color: #fffcf7;
}

/* END HOME LAYOUT */
/* BODY CONTENT */
.body_container {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  /* gap: 50px 50px; */
  -webkit-box-align: center;
  align-items: center;
}

/* END */

/* MAIN CONTENT */
.main_content {
  box-sizing: border-box;
  /* min-width: 0; */
}
.main_content h1 {
  width: 644px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.26;
  -webkit-letter-spacing: 0;
  -moz-letter-spacing: 0;
  -ms-letter-spacing: 0;
  letter-spacing: 0;
  color: var(--theme-ui-colors-textSecondary, #02073e);
}

.main_content p {
  width: 490px;
  height: 116px;
  flex-shrink: 0;
  color: #02073e;
  font-family: DM Sans;
  font-style: normal;
}

/* END MAIN CONTENT*/

.figure_img {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
}
.icon_sponsored_header {
  width: 18px;
  height: 22.951px;
  flex-shrink: 0;
}
.icon_sponsored {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  max-width: 100%;
  height: auto;
}
/* BUTTON HEADER LOGIN */
.button_header_login {
  background-color: transparent;
  color: var(--theme-ui-colors-text, #343d48);
  font-size: 16px;
  font-weight: 500;
  top: 50%;
  padding: 0;
  right: 79px;
  border: 0;
  font-family: DM Sans, sans-serif;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  outline: 0;
}

.button_header_login img {
  margin-right: 10px;
}
/* END BUTTON HEADER LOGIN */

.header_layout__inner {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon_header {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
}

.icon_header svg {
  height: auto;
  width: 128px;
}

.navbar {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  list-style: none;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
}

.navbar .nav-item {
  cursor: pointer;
  font-weight: 400;
  padding: 0;
}

.navbar .active {
  color: var(--theme-ui-colors-primary, #ffc059);
}
/* icon sponsored */
.icon_sponsored {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.icon_sponsored figure {
  margin-left: 10px;
}

.icon_sponsored figure img {
  max-width: 60px;
}

/* img main body */
.img_layout {
  box-sizing: border-box;
  margin: 0;
  /* min-width: 0; */
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 60px;
}

.figure_css_layout {
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.figure_css_layout figure {
  margin-left: 10px;
}

.figure_css_layout figure img {
  max-width: 60px;
}

/* css sponsored */
.css_span_sponsored {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 30px;
}

.css_span_sponsored span {
  font-size: 13px;
  line-height: 2.62;
  color: rgba(86, 98, 114, 0.6);
}

/* Button send mail */
.css_button_email_send {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  -webkit-text-decoration: none;
  text-decoration: none;
  border: 0;
  border-radius: 4px;
  background-color: var(--theme-ui-colors-primary, #ffc059);
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  transition: 0.3s ease-in-out 0s;
  white-space: nowrap;
}

.css_button_email_send:hover {
  background-color: var(--theme-ui-colors-dark, #10132d);
}

/* input email */
.css_input_email {
  max-width: 350px;
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: block;
  appearance: none;
  border: 1px solid;
}

/* form send email */
.form_email {
  box-sizing: border-box;
  margin: 0;
  min-width: 0;
  display: flex;
  margin-top: 30px;
}

.form_email input {
  flex-grow: 1;
  padding: 10px 179px 10px 24px;
  min-height: 60px;
  height: auto;
  width: auto;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 16px 40px 0px rgba(72, 59, 26, 0.08);
}

.form_email button {
  margin-left: 15px;
}

.form_email input {
  color: #02073e;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px; /* 250% */
}

.form_email input::-webkit-input-placeholder {
  color: rgba(2, 7, 62, 0.4);
  opacity: 1;
}

.form_email input::-moz-placeholder {
  color: rgba(2, 7, 62, 0.4);
  opacity: 1;
}

.form_email input:-ms-input-placeholder {
  color: rgba(2, 7, 62, 0.4);
  opacity: 1;
}

.form_email input::placeholder {
  color: rgba(2, 7, 62, 0.4);
  opacity: 1;
}

.form_email button {
  font-size: 12px;
  min-height: 40px;
}

.label_form {
  box-sizing: border-box;
  min-width: 0;
  display: flex;
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;

  position: absolute !important;
  width: 1px !important;
}

/* btn_header_start */
.btn_header_start {
  box-sizing: border-box;
  min-width: 0;
  display: inline-block;
  text-align: center;
  line-height: inherit;
  text-decoration: none;
  font-size: inherit;
  border: 0;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out 0s;
  white-space: nowrap;
  background-color: #fff0d7;
  color: #e6a740;
  padding: 0 16px;
  min-height: 45px;
  margin-left: 30px;
}
/* end btn_header_start */
.text_header {
  margin-right: 52px !important;
  padding-left: 5px;
  margin: 0px;
  display: flex;
  width: 154px;
  height: 24px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #0f2137;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 133.333% */
}
