* {
    background-color: #FFFCF7;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: DM Sans, sans-serif;
    line-height: 1.5;
    font-weight: normal;
}
header {
    position: fixed;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.header_layout {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    max-width: container;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
}

.text_h1 {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    line-height: 1.25;
    font-family: DM Sans, sans-serif;
    line-height: 1.25;
    font-weight: 500;
}
/* NAVBAR LAYOUT */
.navbar_layout {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;

    display: flex;
    display: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

@media screen and (min-width:1024px) {
    .navbar_layout {
        display: flex;
    }
}

.navbar_layout li {
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navbar_layout li a {
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
/* END NAVBAR LAYOUT */
/* HOME LAYOUT */
.home_layout {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    background-color: #FFFCF7;
    padding-top: 130px;
    padding-bottom: 30px;
}

@media screen and (min-width:768px) {
    .home_layout {
        padding-bottom: 40px;
    }
}

@media screen and (min-width:1024px) {
    .home_layout {
        padding-bottom: 80px;
    }
}

@media screen and (min-width:1200px) {
    .home_layout {
        padding-top: 0;
        padding-bottom: 0;
    }
}
/* END HOME LAYOUT */
/* BODY CONTENT */
.body_container {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    gap: 50px 50px;
    display: block;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: auto;
}

@media screen and (min-width:768px) {
    .body_container {
        padding-top: 50px;
    }
}

@media screen and (min-width:1024px) {
    .body_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: 38vh;
        padding-top: 0;
    }
}

@media screen and (min-width:1200px) {
    .body_container {
        grid-template-columns: 0.95fr 1.05fr;
        min-height: 100vh;
        padding-top: 60px;
    }
}

@media only screen and (min-width:1900px) {
    .body_container {
        padding-top: 70px;
    }
}
/* END */

/* MAIN CONTENT */
.main_content {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
}

@media screen and (min-width:768px) {
    .main_content {
        margin: 0 auto;
        max-width: 600px;
        text-align: center;
    }
}

@media screen and (min-width:1024px) {
    .main_content {
        margin: 0;
        max-width: none;
        text-align: left;
    }
}

.main_content h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.26;
    -webkit-letter-spacing: 0;
    -moz-letter-spacing: 0;
    -ms-letter-spacing: 0;
    letter-spacing: 0;
    color: var(--theme-ui-colors-textSecondary, #02073E);
}

@media screen and (min-width:768px) {
    .main_content h1 {
        font-size: 36px;
        line-height: 1.5;
    }
}

@media screen and (min-width:1024px) {
    .main_content h1 {
        font-size: 45px;
        line-height: 1.2;
        -webkit-letter-spacing: -1.5px;
        -moz-letter-spacing: -1.5px;
        -ms-letter-spacing: -1.5px;
        letter-spacing: -1.5px;
    }
}

@media screen and (min-width:1200px) {
    .main_content h1 {
        line-height: 1.26;
    }
}

@media screen and (min-width:1367px) {
    .main_content h1 {
        font-size: 48px;
    }
}

@media screen and (min-width:1440px) {
    .main_content h1 {
        font-size: 64px;
    }
}

@media screen and (min-width:1441px) and (max-width:1600px) {
    .main_content h1 {
        font-size: 48px;
        line-height: 1.5;
    }
}

.main_content p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--theme-ui-colors-textSecondary, #02073E);
    max-width: 470px;
    margin-top: 15px;
}

@media screen and (min-width:768px) {
    .main_content p {
        font-size: 16px;
        line-height: 2;
        margin: 30px auto;
    }
}

@media screen and (min-width:1024px) {
    .main_content p {
        font-size: 18px;
        margin: 0;
        margin-top: 25px;
    }
}

@media screen and (min-width:1200px) {
    .main_content p {
        line-height: 2.33;
    }
}
/* END MAIN CONTENT*/

.figure_img {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
  }
  .icon_sponsored {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    max-width: 100%;
    height: auto;
  }
/* BUTTON HEADER LOGIN */
.button_header_login {
    background-color: transparent;
    position: absolute;
    color: var(--theme-ui-colors-text, #343d48);
    font-size: 16px;
    font-weight: 500;
    top: 50%;
    padding: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 79px;
    border: 0;
    font-family: DM Sans, sans-serif;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    outline: 0;
  }

  @media screen and (min-width: 1024px) {
    .button_header_login {
      position: static;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
    }
  }

  .button_header_login img {
    max-width: 14px;
    margin-right: 10px;
  }
/* END BUTTON HEADER LOGIN */

@media screen and (min-width:480px) {
    .header_layout {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (min-width:1024px) {
    .header_layout {
        max-width: 970px;
    }
}

@media screen and (min-width:1200px) {
    .header_layout {
        max-width: 1140px;
    }
}

@media screen and (min-width:1367px) {
    .header_layout {
        max-width: 1260px;
    }
}

.header_layout__inner {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.icon_header {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.icon_header svg {
    height: auto;
    width: 128px;
}

@media screen and (min-width:640px) {
    .icon_header svg {
        width: 100%;
    }
}

@media screen and (min-width:1024px) {
    .icon_header {
        margin-right: 30px;
    }
}

@media screen and (min-width:1200px) {
    .icon_header {
        margin-right: 100px;
    }
}

.navbar {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    list-style: none;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0;
}

.navbar .nav-item {
    cursor: pointer;
    font-weight: 400;
    padding: 0;
}

@media screen and (min-width:1024px) {
    .navbar .nav-item {
        margin: 0 15px;
    }
}

.navbar .active {
    color: var(--theme-ui-colors-primary, #FFC059);
}
/* icon sponsored */
.css-icon {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-icon figure {
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    .css-icon figure {
        margin-left: 20px;
    }
}

@media screen and (min-width:1200px) {
    .css-icon figure {
        margin-left: 25px;
    }
}

.css-icon figure img {
    max-width: 60px;
}

@media screen and (min-width:1024px) {
    .css-icon figure img {
        max-width: 80px;
    }
}

@media screen and (min-width:1200px) {
    .css-icon figure img {
        max-width: 100%;
    }
}

/* img main body */
.img_layout {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 60px;
}

@media screen and (min-width:1024px) {
    .img_layout {
        margin-top: 0;
    }
}

@media screen and (min-width:768px) {
    .img_layout img {
        max-width: 80%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    .img_layout img {
        max-width: 100%;
        margin: 0;
    }
}

.figure_css_layout {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.figure_css_layout figure {
    margin-left: 10px;
}

@media screen and (min-width:1024px) {
    .figure_css_layout figure {
        margin-left: 20px;
    }
}

@media screen and (min-width:1200px) {
    .figure_css_layout figure {
        margin-left: 25px;
    }
}

.figure_css_layout figure img {
    max-width: 60px;
}

@media screen and (min-width:1024px) {
    .figure_css_layout figure img {
        max-width: 80px;
    }
}

@media screen and (min-width:1200px) {
    .figure_css_layout figure img {
        max-width: 100%;
    }
}

/* css sponsored */
.css_span_sponsored {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 30px;
}

@media screen and (min-width:768px) {
    .css_span_sponsored {
        max-width: 470px;
        margin: 30px auto;
    }
}

@media screen and (min-width:1024px) {
    .css_span_sponsored {
        max-width: none;
        margin: 30px 0 0;
    }
}

.css_span_sponsored span {
    font-size: 13px;
    line-height: 2.62;
    color: rgba(86, 98, 114, 0.6);
}

@media screen and (min-width:1024px) {
    .css_span_sponsored span {
        font-size: 16px;
    }
}

/* Button send mail */
.css_button_email_send {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: inherit;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--theme-ui-colors-primary, #FFC059);
    border: 0;
    border-radius: 4px;
    background-color: var(--theme-ui-colors-primary, #FFC059);
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
    white-space: nowrap;
    color: white;
    min-height: 50px;
    padding: 0 25px;
}

@media screen and (min-width:480px) {
    .css_button_email_send {
        min-height: 50px;
        padding: 0 25px;
    }
}

@media screen and (min-width:640px) {
    .css_button_email_send {
        min-height: 50px;
        padding: 0 25px;
    }
}

@media screen and (min-width:768px) {
    .css_button_email_send {
        min-height: 50px;
        padding: 0 30px;
    }
}

@media screen and (min-width:1024px) {
    .css_button_email_send {
        min-height: 50px;
    }
}

@media screen and (min-width:1200px) {
    .css_button_email_send {
        min-height: 60px;
    }
}

.css_button_email_send:hover {
    background-color: var(--theme-ui-colors-dark, #10132D);
}

/* input email */
.css_input_email {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: block;
    width: 100%;
    padding: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: inherit;
    line-height: inherit;
    border: 1px solid;
    border-radius: 4px;
    color: inherit;
    background-color: transparent;
    border-radius: 8px;
    border-color: var(--theme-ui-colors-borderColor, #F3F4F5);
    height: 60px;
}

.css_input_email:focus {
    border-color: var(--theme-ui-colors-primary, #FFC059);
    box-shadow: 0 0 0 2px var(--theme-ui-colors-primary, #FFC059);
    outline: none;
}

/* form send email */
.form_email {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    display: flex;
    margin-top: 30px;
}

.form_email input {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0 20px;
    min-height: 60px;
    height: auto;
    width: auto;
}

@media screen and (min-width:1024px) {
    .form_email input {
        padding: 0 25px;
    }
}

.form_email button {
    margin-left: 15px;
}

@media screen and (min-width:768px) {
    .form_email {
        max-width: 470px;
        margin: 30px auto;
    }
}

@media screen and (min-width:1024px) {
    .form_email {
        max-width: none;
        margin: 30px 0 0;
    }
}

.form_email input {
    background-color: #FFFFFF;
    border: 0 none;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0px 16px 40px rgba(72, 59, 26, 0.08);
    min-height: 40px;
}

@media screen and (min-width:480px) {
    .form_email input {
        min-height: 50px;
    }
}

@media screen and (min-width:1024px) {
    .form_email input {
        font-size: 16px;
    }
}

@media screen and (min-width:1200px) {
    .form_email input {
        min-height: 60px;
    }
}

.form_email input::-webkit-input-placeholder {
    color: rgba(2, 7, 62, 0.4);
    opacity: 1;
}

.form_email input::-moz-placeholder {
    color: rgba(2, 7, 62, 0.4);
    opacity: 1;
}

.form_email input:-ms-input-placeholder {
    color: rgba(2, 7, 62, 0.4);
    opacity: 1;
}

.form_email input::placeholder {
    color: rgba(2, 7, 62, 0.4);
    opacity: 1;
}

.form_email button {
    font-size: 12px;
    min-height: 40px;
}

@media screen and (min-width:480px) {
    .form_email button {
        font-size: 14px;
        min-height: 50px;
    }
}

@media screen and (min-width:1024px) {
    .form_email button {
        font-size: 16px;
    }
}

@media screen and (min-width:1200px) {
    .form_email button {
        min-height: 60px;
    }
}

.label_form {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    width: 100%;
    display: flex;
    border: 0 !important;
    -webkit-clip: rect(1px, 1px, 1px, 1px) !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

/* btn_header_start */
.btn_header_start {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-size: inherit;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(
      --theme-ui-colors-primary,
      #ffc059
    );
    border: 0;
    border-radius: 4px;
    background-color: transparent;
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    -webkit-transition: 0.3s ease-in-out 0s;
    transition: 0.3s ease-in-out 0s;
    white-space: nowrap;
    background-color: #fff0d7;
    color: #e6a740;
    padding: 0 16px;
    min-height: 45px;
    margin-left: 30px;
  }
/* end btn_header_start */
